* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.nav, .intro {
    background-color: #1f2937;
    padding: 1em 15em;
    display: flex;
    justify-content: space-between;
}

.nav {
    height: 10%;
}

.intro {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    height: auto;
}

.nav .links a {
    text-decoration: none;
    size: 1.125em;
}

.nav .links {
    align-self: center;
    display: flex;
    gap: 1.875em;
    flex-shrink: 0;
    margin-left: 3.125em;
}

.intro .signupblock h1 {
    size: 3em;
    font-weight: bold;
}

.intro .signupblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro button {
    background-color: #3882f6;
    border: none;
    padding: 0.313em 0.625em;
    border-radius: 15%;
}

.nav .links a, .intro .signupblock h1, .intro .signupblock p, .intro button{
    color: #e5e7eb;
}

.intro img {
    max-height: 15em;
    margin-left: 3.125em;
}