* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav, .intro {
    background-color: #1f2937;
    height: 100px;
    padding: 25px 300px;
    display: flex;
    justify-content: space-between;
}

.intro {
    height: 200px;
}

.logo {
    border-radius: 50%;
}

.nav .links a {
    text-decoration: none;
    size: 18px;
}

.nav .links {
    align-self: center;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
    margin-left: 50px;
}

.intro .signupblock h1 {
    size: 48px;
    font-weight: bold;
}

.intro .signupblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.intro button {
    background-color: #3882f6;
    border: none;
    padding: 5px 10px;
    border-radius: 15%;
}

.nav .links a, .intro .signupblock h1, .intro .signupblock p, .intro button{
    color: #e5e7eb;
}

.intro img {
    height: auto;
    margin-left: 50px;
}